<div id="modal-form" class="modal" tabindex="-1" dp-modal on-show="onShow">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="onClose()">&times;</button>
                <h4 class="blue bigger">Please fill the following form fields</h4>
            </div>

            <div class="modal-body">

                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-inline" style="margin-bottom:20px;text-align:center">

                            <label class="inline">

                                <span class="lbl">ชื่อ - สกุล</span>
                                <input type="text" class="input-small" placeholder="ชื่อ - สกุล" style="min-width:150px">
                            </label>
                            <label class="inline">

                                <span class="lbl"> เบอร์โทรศัพท์ </span>
                                <input type="text" class="input-small" placeholder="เบอร์โทรศัพท์" style="min-width:150px">
                            </label>
                            <button type="button" class="btn btn-info btn-sm">
                                <i class="ace-icon fa fa-search"></i>ค้นหา
                            </button>
                            <button class="btn btn-info btn-sm" type="button" ng-click="add()">
                                <i class="ace-icon glyphicon glyphicon-file"></i>
                                เพิ่มข้อมูล
                            </button>
                        </div>

                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>

                                    <th>ชื่อ นามสกุล</th>
                                    <th>เบอร์โทรศัพท์หลัก</th>
                                    <th>เบอร์โทรศัพท์สำรอง</th>
                                    <th>บ้านเลขที่</th>

                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="item in items">


                                    <td>
                                        {{item.code}}
                                    </td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.province_name}}</td>
                                    <td style="text-align:center">
                                        <div class="hidden-sm hidden-xs btn-group">


                                            <button class="btn btn-xs btn-info" ng-click="edit(item)">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>แก้ไขข้อมูล
                                            </button>

                                            <button class="btn btn-xs btn-danger" ng-click="remove(item)">
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>ลบข้อมูล
                                            </button>

                                        </div>

                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div><!-- /.span -->
                </div><!-- /.row -->

            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Cancel
                </button>

                <button class="btn btn-sm btn-primary">
                    <i class="ace-icon fa fa-check"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div><!-- PAGE CONTENT ENDS -->